{# Page footer stuff goes here. #}
<footer class="has-{{ customizer('footer','background_color') }}-background-color has-{{ customizer('footer','font_color') }}-color">
	{% block footer %}
		{% block main_section %}
			<section id="footer-main">
				{% block main %}
					{{ footer.main }}
				{% endblock %}
			</section>
		{% endblock %}
		{% block info_section %}{% endblock %}
		{% block copyright_section %}
			<section id="copyright" class="has-{{ customizer('footer','copyright_bg_color') }}-background-color has-{{ customizer('footer','copyright_font_color') }}-color">
				{% block copyright %}
					{{ footer.info }}
				{% endblock %}
			</section>
		{% endblock %}
		{% if customizer('site','scroll_to_top') %}
			{% include 'navigation/scroll-to-top.twig' %}
		{% endif %}
	{% endblock %}
</footer>
