<div class="social-media-share">
	<a href="https://www.facebook.com/sharer.php?u={{ post.link }}" target="_blank">
		<i alt="facebook share" class="fab fa-xl fa-facebook-f  "></i>
		<span class="sr-only">{{ __('Share on Facebook','jcore') }}</span>
	</a>
	<a href="https://www.linkedin.com/shareArticle?url={{ post.link }}" target="_blank">
		<i alt="LinkedIn share" class="fab fa-xl fa-linkedin"></i>
		<span class="sr-only">{{ __('Share on LinkedIn','jcore') }}</span>
	</a>
	<a href="https://twitter.com/share?url={{ post.link }}" target="_blank">
		<i alt="twitter share" class="fab fa-xl fa-x-twitter"></i>
		<span class="sr-only">{{ __('Share on Twitter','jcore') }}</span>
	</a>
	<a href="https://api.whatsapp.com/send?text={{ post.link }}" target="_blank">
		<i alt="whatsapp share" class="fab fa-xl fa-whatsapp"></i>
		<span class="sr-only">{{ __('Share on WhatsApp','jcore') }}</span>
	</a>
	<a href="mailto:?subject={{ post.title }}&amp;body={{ post.link }}" target="_blank">
		<i alt="email share" class="far fa-xl fa-envelope"></i>
		<span class="sr-only">{{ __('Share on Email','jcore') }}</span>
	</a>
</div>
