{% block image %}
    <div class="image-container {% if customizer('article_highlight','postcard') %} postcard {% endif %}{{ post.thumbnail?'has-image':'placeholder' }}">
        {% include 'images/image.twig' with {image: post.thumbnail} %}
    </div>
{% endblock %}

<div class="data">
    {% block data %}
        <div class="post-date">{{ post.date }}</div>
        <div class="post-author">{{ post.author }}</div>
        <div class="post-term">{{ post.category }}</div>
    {% endblock %}
</div>
<div class="tease-content">
    {% block content %}
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="preview">{{ post|preview( customizer('article_highlight','excerpt_length') ) }}</p>
        <a href="{{ post.link }}" class="tease-link">{{ __('Read more', 'jcore') }}</a>
    {% endblock %}
</div>
