<section id="block-{{ block.id }}" class="block {{ block.className }}">
    <div {% if fields.first_item_open is not same as false %}xjcore-data="{active: '{{ block.id }}-1'}"{% endif %}>
        {% for item in fields.accordion %}
            <div xjcore-data="{
            id: '{{ block.id }}-{{ loop.index }}',
            get isActive() {
                return this.active === this.id
            },
            set isActive(value) {
                this.active = value ? this.id : null
            }}" role="region" class="accordion-section">

                <button xjcore-on:click="isActive = !isActive" xjcore-bind:class="isActive ? 'accordion-open' : ''"
                        class="accordion-title">
                    <span>{{ item.item_title }}</span>
                </button>

                <div class="accordion-content" xjcore-show="isActive" xjcore-collapse style="height: auto;">
                    <div>{{ item.item_text|wp_kses_post }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>