{% extends "layout.twig" %}
{% block content %}
    <form class="password-form" action="/wp-login.php?action=postpass&wpe-login=true" method="post">
        <label for="pwbox-{{post.ID}}">{{ __('Password', 'jcore') }}:</label>
        <input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{ __('Password', 'jcore') }}" size="20" maxlength="20" />
        <input class="password-btn" type="submit" name="Submit" value="{{ __('Submit', 'jcore') }}" />
    </form>
{% endblock %}
